[Desktop Entry]
Name=Sherlock
Icon=harbour-sherlock
Exec=harbour-sherlock
Categories=Game
Type=Application
X-Sailfish-ApplicationType=Silica


[X-Sailjail]
Permissions=
OrganizationName=edp17
ApplicationName=harbour-sherlock
